@import "../../main.scss";

.item-detail {
  display: flex;
  max-width: 1200px;
  border: 2px solid red;
}

.item-detail-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item-detail-checkout {
  width: 35%;
  border: 2px solid red;
}

.item-detail-information {
  flex: 1;
  padding: 16px;
  border: 2px solid red;

  .item-detail-image-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .item-detail-image {
      height: 500px;
      width: 500px;
    }
  }

  .item-detail-description-text {
    white-space: pre-line;
  }

  .item-detail-description-title {
    font-size: 24px;
    font-weight: 600;
  }
}

.item-detail-price {
  color: #333;
  font-size: 44px;
  font-weight: 300;

  .item-detail-price-decimals {
    font-size: 18px;
    position: relative;
    top: -17px;
  }
}

.item-detail-status {
  color: #666;
  font-size: 14px;
  margin: 0 8px;
}

.item-detail-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 27px;
  margin: 8px 0;
}

@media (max-width: 767px) {
  .checkout-button {
    padding: 4px 6px;
    height: 40px;
    width: 100px;
  }

  .item-detail-information {
    .item-detail-image-container .item-detail-image {
      height: 250px;
      width: 250px;
    }
  }

  .item-detail-title {
    font-size: 16px;
    line-height: 17px;
  }
}

@media (max-width: 468px) {
  .item-detail-information {
    .item-detail-image-container .item-detail-image {
      height: 200px;
      width: 200px;
    }
  }
}
