@import "../../styles/main.scss";

.search-results {
  background-color: white;
  color: $black;
  list-style: none;
  max-width: 876px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.search-results-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-results-not-found {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
}
